<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-900 p-16 space-y-6">
    <h1 class="text-2xl font-bold text-white">
      Proof Of Work Simulator
    </h1>

    <div class="flex justify-between items-center">
      <div class="flex space-x-3">
        <a href="/" class="bg-purple-700 transition-all duration-350 hover:bg-purple-800 text-white px-4 py-2 rounded-lg">
          Home
        </a>

        <a href="/blocks" class="bg-green-700 transition-all duration-350 hover:bg-green-800 text-white px-4 py-2 rounded-lg">
          Blocks
        </a> 

        <a href="/transactions" class="bg-blue-700 transition-all duration-350 hover:bg-blue-800 text-white px-4 py-2 rounded-lg">
          Pending Transactions
        </a> 
      </div>

      <div class="flex space-x-3">
        <a href="/wallet/create-transaction" class="bg-blue-700 transition-all duration-350 hover:bg-blue-800 text-white px-4 py-2 rounded-lg">
          Create Transaction
        </a>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-8 text-white"> 
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
        <h2 class="font-bold">
          Address
        </h2>
        <h3 class="text-4xl text-blue-200 space-y-2 flex-wrap break-all">
          <%= address %>
        </h3>
      </div>
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
        <h2 class="font-bold">
          Balance
        </h2>
        <h3 class="text-4xl text-blue-200 space-y-2">
          <%= balance %>
        </h3>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-8 text-white">
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-4">
        <h2 class="font-bold">
          Unspent Transaction Outputs (UTXO)
        </h2>
        
        <% for (const unspentTxOutput of unspentTxOutputs) { %>
          <div class="bg-gray-700 w-full rounded-xl py-4 px-8 gap-6 flex justify-between">
            <div class="flex items-center gap-8">
              <div class="flex items-center justify-center text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </div>
              <div class="">
                <h1 class="font-bold">TX Output ID</h1>
                <p class="font-mono"><%= unspentTxOutput.txOutputId %></p>
              </div>
            </div>

            <div class="flex items-center gap-8">
              <div class="">
                <h1 class="font-bold">TX Output Index</h1>
                <p><%= unspentTxOutput.txOutputIndex %></p>
              </div>
              <div class="">
                <h1 class="font-bold">Amount</h1>
                <p><%= unspentTxOutput.amount %></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
